examples/wsdl/yoohoo/YooHoo.wsdl

<?xml version="1.0"?>

<!-- WSDL description of the YooHoo Web service. -->

<definitions name="YooHoo"
             targetNamespace="urn:YooHoo"
             xmlns:typens="urn:YooHoo"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- Types for YooHoo Service -->

  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" 
                targetNamespace="urn:YooHoo">
            
      <xsd:complexType name="PresenceResult">
       <xsd:sequence>
        <xsd:element name="availability" type="xs:string"/>
       </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types> 

  <!-- Messages for YooHoo Web APIs  -->
             
  <message name="Empty"/>

  <message name="getPresence">
    <part name="userName"         type="xsd:string"/>
  </message>

  <message name="getPresenceResponse">
    <part name="return"         type="PresenceResult"/>
  </message>

  <!-- Port for YooHoo Web APIs, "YooHoo" -->

  <portType name="YooHooType">
    <operation name="status">
      <input message="typens:Empty"/>
      <output message="typens:getPresenceResponse"/>
    </operation>
    <operation name="accounts">
      <input message="typens:Empty"/>
      <output message="typens:getPresenceResponse"/>
    </operation>
    <operation name="presence">
      <input message="typens:getPresence"/>
      <output message="typens:getPresenceResponse"/>
    </operation>
  </portType>

  <!-- Binding for YooHoo Web APIs - RPC, SOAP over HTTP -->

  <binding name="YooHooBinding" type="typens:YooHooType">
    <soap:binding style="rpc"
                  transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="status">
      <soap:operation soapAction="urn:YooHooAction"/>
      <input>
        <soap:body use="encoded"
                   namespace="urn:YooHoo"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded"
                   namespace="urn:YooHoo"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>

    <operation name="accounts">
      <soap:operation soapAction="urn:YooHooAction"/>
      <input>
        <soap:body use="encoded"
                   namespace="urn:YooHoo"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded"
                   namespace="urn:YooHoo"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>

    <operation name="presence">
      <soap:operation soapAction="urn:YooHooAction"/>
      <input>
        <soap:body use="encoded"
                   namespace="urn:YooHoo"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded"
                   namespace="urn:YooHoo"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>

  <!-- Endpoint for YooHoo Web APIs -->
  <service name="YooHooService">
    <port name="YooHooPort" binding="typens:YooHooBinding">
      <soap:address location="http://localhost:8080/yoohoo-server.xqs"/>
    </port>
  </service>

</definitions>
